body {
    background: url("https://i.guim.co.uk/img/media/40b168b7f39a3930919305307a4f96dc0befe8f2/6_0_10655_6400/master/10655.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=2aa6774db29f84e73a547687af44bb86");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1, #description {
    text-align: center;
}

p {
    text-align: left;
    margin-bottom: 1px;
}

input, button, select, textarea {
    font-family: inherit;
}

#content {
    background-color: #55d0e6;
    max-width: 600px;
    margin: 25px auto;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 4px 4px 2px black;
}

.form-group {
    text-align: left;
    margin: 25px;
    display: block;
    margin-right: 5px;
}

.input, #dropdown{
    display: block;
    width: 95%;
}

textarea {
    max-width: auto;
    border-radius: 5px;
}

.button {
    text-align: center;
    margin-bottom: 20px;
    transition-duration: 0.15s;
}

#submit:hover {
    box-shadow: 5px 5px 3px;
    cursor: pointer;
}